<% if @chapter%>
  <blockquote class="blockquote">
    <h1><%= @chapter.story.title %></h1>
  </blockquote>
  <div class='row'>
    <h3> <%= @chapter.title %> </h3>
  </div>
  <div class='row'>
    <p> <%= @chapter.content %> </p>
  </div>
<% end %>

<div class='row'>
  <% if @choices %>
    <% @choices.each do |choice| %>
      <div class='col-md-4'>
        <%= link_to "#{choice.content}", home_game_choice_path(choice_id: choice.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  <% else %>
    <div class='row'>
      <p> <%= @outcome.content %> </p>
    </div>
    <div class='row'>
      <div class="col-md-12 justify-content-center align-items-right">
        <%= link_to "Next Chapter", home_game_next_chapter_path(id: @outcome.chapter_id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
  
</div>
