<!DOCTYPE html>
<html>
  <% if flash[:error] %>
    <div class="form-group col-md-12 text-center alert alert-danger top15">
      <strong><%=  flash[:error]  %></strong>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="form-group col-md-12 text-center alert alert-success top15">
      <strong><%=  flash[:success]  %></strong>
    </div>
  <% end %>
  
  <head>
    <title>TheBlackElk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
